<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mypage</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="left">
          <li><span>welcome username!</span></li>
        </ul>
        <ul class="right">
          <li><a href="/mypage">마이페이지</a></li>
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
